teststuff/python/opencv/angleArea/media/raw/
teststuff/cpp/useful/nodeChart/build/
teststuff/cpp/gui/imgui/windows/ex0/build/
teststuff/cpp/windows/list_files_in_dir/build/
teststuff/cpp/basic/networking/tcp/OpenCV_streamVideo/server/build/
teststuff/cpp/basic/networking/tcp/OpenCV_streamVideo/client/build/
teststuff/cpp/basic/networking/udp/OpenCV_streamVideo/server/build/
teststuff/cpp/basic/networking/udp/OpenCV_streamVideo/client/build/
teststuff/cpp/basic/networking/udp/pc_to_pc/build/
teststuff/cpp/basic/networking/tcp/ex0_win32/build/
teststuff/cpp/image_process/libjeg/decoding/build/
teststuff/cpp/basic/networking/udp/OpenCV_streamVideo/temp_winsock/client/build/
teststuff/cpp/basic/networking/udp/OpenCV_streamVideo/temp_winsock/server/build/
.vscode
projects/proj_Hexclaw_cpp/in\ rpi/build/
projects/proj_Hexclaw_cpp/remote_GUI/build
