teststuff/python/opencv/angleArea/media/raw/
teststuff/cpp/basic/networking/tcp/OpenCV_streamVideo/server/build/
teststuff/cpp/basic/networking/tcp/OpenCV_streamVideo/client/build/
.vscode
projects/proj_Hexclaw_cpp/in\ rpi/build/
